---
layout: default
---

<div class="homepage-background">
  <div class="wrapper">

    <div class="project__wrapper">
      {% assign sorted_projects = (site.projects | sort: 'placement') %}
      {% for project in sorted_projects %}
        <div class="project">
          <a href={{ project.permalink }}>
            <div class="project__container">      
              <!-- <p>{{ project.title }}<p>       -->
              <img src='assets/project_images/{{ project.image }}'></img>
              <!-- <p>{{ project.content }}</p> -->
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    
  </div>

  {% include thanks.html %}

</div>
