<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1><h2>UX Research and Design</h2></a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="site-nav__link {% if page.url == '/index.html' %}active{% endif %}" href="/">Work</a>
        <a class="site-nav__link {% if page.url == '/about/' %}active{% endif %}" href="{{ site.baseurl }}/about">About</a>
        <a class="site-nav__link {% if page.url == '/contact/' %}active{% endif %}" href="{{ site.baseurl }}/contact">Contact</a>
      </div>
    </nav>
  </div>
</header>
