$footer-height: 200px;

.page-content {
  min-height: calc(100% - 118px);
  padding-bottom: $footer-height;

  &::after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.site-footer {
  border-top: $bg-footer-top;
  background: $bg-footer;
  height: $footer-height;
  margin-top: -$footer-height;
}

.site-footer__wrapper {
  width: 100%;
  height: 100%;
}