.site-header {
  border-bottom: 1px solid silver;
  background: $bg-header;
  border-bottom: $bg-header-bottom;

  .wrapper {
    text-align: center;
  }
}

.site-title {
  display: inline-block;
  text-align: center;
  margin: 20px 0 20px 0;

  h1, h2 {
    margin-bottom: 0;
    font-weight: bold;
    color: $c-main-text;

  }
  h2 {
    clear: left;
    font-size: 20px;
    font-weight: 200;
    color: $c-2nd-text;
  }

  &:hover {
    text-decoration: none;
  }

  @media (min-width: 600px) {
    float: left;
    h1, h2 {
      float: left;
    }
  }
}

.site-nav {
  margin: 0 0 20px 0;
  border-top: 1px solid #eee;
  padding-top: 15px;
  @media (min-width: 400px) {
    margin: 0 10% 20px 10%;
  }  
  @media (min-width: 500px) {
    margin: 0 20% 20px 20%;
  }
  @media (min-width: 600px) {
    border: none;
    padding: 0;
    float: right;
    margin: 45px 0 20px 0;
  }
}

.site-nav__link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 3px;
  color: $c-main-text;

  &.active {
    border-bottom: 4px solid $c-menu-underline;
  }

  &:hover {
    text-decoration: none;
    border-bottom: 4px solid $c-menu-underline;
  }

  &:visited {
    color: $c-main-text;
  }

  &:first-child {
    margin-left: 0;
  }

  @media (min-width: 600px) {
    margin-left: 30px;
  }
}