.project__wrapper {
  padding-top: 16px;
}

.project {
  width: 220px;

  margin: 0 auto 9px auto;
  position: relative;
  background: $bg-project;
  border: $project-border;
  border-radius: 100%;

  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .5s ease-in-out;
    border: $project-border;

    border-radius: 100%;

    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      filter: saturate(1);
    }
  }

  &::after {
    display: block;
    content: '';
    padding-top: 100%;
  }
}

.project__container {
  position: absolute;
  top: $project-border-width;
  bottom: $project-border-width;
  left: $project-border-width;
  right: $project-border-width;
}

@media (min-width: 450px) {
  .project {
    width: calc(50% - 15px);
    float: left;
    margin: 0 15px 15px 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: 550px) {
  .project {
    width: 230px;
    margin: 0 20px 20px calc(50% - 250px);
    &:nth-child(2n) {
      margin-right: 0;
      margin: 0 calc(50% - 250px) 20px 0;
    }
  }
}

@media (min-width: 750px) {
  .project {
    width: 280px;
    margin: 0 20px 20px calc(50% - 300px);
    &:nth-child(2n) {
      margin-right: 0;
      margin: 0 calc(50% - 300px) 20px 0;
    }
  }
}

@media (min-width: 950px) {
  .project {
    width: calc(33% - 20px);
    margin: 0 20px 20px 0;
    &:nth-child(2n) {
      margin: 0 20px 20px 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}